<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="For Testing All API" verbose="1">

	<listeners>
		<listener class-name="com.demo.listeners.Listener" />
	</listeners>

	<test name="Reqres API">
		<classes>
			<class name="com.demo.APItests.PostMethod" />
			<class name="com.demo.APItests.GetMethod" />
			<class name="com.demo.APItests.UpdateMethod" />
			<class name="com.demo.APItests.DeleteMethod" />
		</classes>
	</test>

	<test name="Soap XML">
		<classes>
			<class name="com.demo.files.SoapXMLRequest" />
		</classes>
	</test>

	<test name="Local API">
		<classes>
			<class name="com.demo.localAPITest.TestLocalAPI" />
		</classes>
	</test>

</suite>
